#navbar{
    display: flex;
    justify-content: space-between;
    padding-right: 300px;
    padding-left: 50px;
    padding-top: 20px;
    align-items: center;
}

#logo{
    font-family: 'Baloo 2', cursive;
    font-size: 36px;
    color: #434444;
    padding-left: 50px;
}

#itens{
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 500;
    padding-left: 50%;
    align-items: center;
    font-size: 20px;
}

#botao{
    padding-right: 15px;
    padding-left: 15px;
    background: #0053FF;
    color:#FFFFFF;
    border-radius: 100px;
    border: none;
    font-family: 'Advent Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    height: 40px;
    width: 150px;
    font-size: 15px;
}

#conteudo{
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    justify-content: space-between;
}

#textos{
    padding-left: 50px;
}

#slogan{
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
}

#texto{
    font-size: 30px;
}

#cart{
    width: 490px;
    height: 380px;
    float: right;
    padding-right: 200px;
    
}
